<html>
<body>
<div id="upper">
  <div id="aboveLine">
    <p>
      <button md-button>
      To do
      </button>
    </p>
    <button md-button>Importance</button>
  </div>
  <img id="picture" src="assets/chal/line.png">
</div>
<div id="projects">
  <div class="itemCard">
    <img id="picture1" class="picture" src="assets/chal/imgres@3x.png">
    <a class="bold" id="title1">Modern Family</a>
    <a id="episode1">S03 E22</a>
    <!--img class="commentPicture" src=""icon for review-->
  </div>
  <div class="itemCard">
    <img id="picture2" class="picture" src="assets/chal/04-d-825-d-74-dea-73-f-9339-f-23-d-5-b-38-fa-7-e-5736982-cd-2350168-befbb-1893-c-3-d-66743@3x.png">
    <a id="title2" class="bold">Spectre</a>
    <a id="episode2">Movie</a>
    <!--img class="commentPicture" src="" icon for review-->
  </div>
  <div class="itemCard">
    <img id="picture3" class="picture" src="assets/chal/imgres@3x.png">
    <a class="bold" id="title3">Modern Family</a>
    <a id="episode3">S03 E24</a>
  </div>
  <div class="itemCard">
    <img id="picture4" class="picture" src="assets/chal/04-d-825-d-74-dea-73-f-9339-f-23-d-5-b-38-fa-7-e-5736982-cd-2350168-befbb-1893-c-3-d-66743@3x.png">
    <a class="bold" id="title4">Spectre</a>
    <a id="episode4">Movie</a>
  </div>
  <div class="itemCard">
    <img id="picture5" class="picture" src="assets/chal/04-d-825-d-74-dea-73-f-9339-f-23-d-5-b-38-fa-7-e-5736982-cd-2350168-befbb-1893-c-3-d-66743@3x.png">
    <a class="bold" id="title5">Spectre</a>
    <a id="episode5">Movie</a>
  </div>
</div>
</body>
</html>
