<html>
<body>
<div id="upper">
  <div id="aboveLine">
    <p>
      <button md-button>
      Recently published
      </button>
    </p>
    <button md-button>View all projects</button>
  </div>
  <img id="picture" src="assets/chal/line.png">
</div>
<div id="projects">
  <div class="itemCard">
    <img id="picture1" class="picture" src="assets/chal/imgres@3x.png">
    <a id="title1" class="bold">Modern Family</a>
    <a id="episode1">S03 E18</a>
  </div>
  <div class="itemCard">
    <img id="picture2" class="picture" src="assets/chal/imgres@3x.png">
    <a id="title2" class="bold">Modern Family</a>
    <a id="episode2">S03 E19</a>
  </div>
  <div class="itemCard">
    <img id="picture3" class="picture" src="assets/chal/imgres@3x.png">
    <a id="title3" class="bold">Modern Family</a>
    <a id="episode3">S03 E20</a>
  </div>
  <div class="itemCard">
    <img id="picture4" class="picture" src="assets/chal/imgres@3x.png">
    <a id="title4" class="bold">Modern Family</a>
    <a id="episode4">S03 E21</a>
  </div>
  <div class="itemCard">
    <img id="picture5" class="picture" src="assets/chal/04-d-825-d-74-dea-73-f-9339-f-23-d-5-b-38-fa-7-e-5736982-cd-2350168-befbb-1893-c-3-d-66743@3x.png">
    <a id="title5" class="bold">Spectre</a>
    <a id="episode5">Movie</a>
  </div>
  <div class="itemCard">
    <img id="picture6" class="picture" src="assets/chal/04-d-825-d-74-dea-73-f-9339-f-23-d-5-b-38-fa-7-e-5736982-cd-2350168-befbb-1893-c-3-d-66743@3x.png">
    <a id="title6" class="bold">Spectre</a>
    <a id="episode6">Movie</a>
  </div>
  <div class="itemCard">
    <img id="picture7" class="picture" src="assets/chal/04-d-825-d-74-dea-73-f-9339-f-23-d-5-b-38-fa-7-e-5736982-cd-2350168-befbb-1893-c-3-d-66743@3x.png">
    <a id="title7" class="bold">Spectre</a>
    <a id="episode7">Movie</a>
  </div>
</div>
</body>
</html>
