<html>
<body id="body">
  <img id="logo" src="assets/chal/logo-row.png" >

  <md-toolbar id ="try" color="accent" class="items">
    <img class="icons" id="homeIcon" src="assets/chal/home.png">
      <p class="title">Home</p>
  </md-toolbar>
  <md-toolbar class="items" color="primary">
    <img  class="icons" id="organizationIcon" src="assets/chal/organization.png">
    <p class="title">Organization</p>
  </md-toolbar>
  <md-toolbar class="items" color="primary">
    <img class="icons" id="brandsIcon" src="assets/chal/brand-icon.png">
    <p class="title">Brands</p>
  </md-toolbar>
  <md-toolbar class="items" color="primary">
    <img class="icons" id="taggingIcon" src="assets/chal/tagging-icon.png">
    <p class="title">Tagging</p>
  </md-toolbar>
  <md-toolbar class="items" color="primary">
    <img class="icons" id="projectsIcon" src="assets/chal/projects-icon.png">
    <p class="title">Projects</p>
  </md-toolbar>
  <md-toolbar class="items" color="primary">
    <img class="icons" id="productsIcon" src="assets/chal/products.png">
    <p class="title">Products</p>
  </md-toolbar>
  <md-toolbar class="items" color="primary">
    <img class="icons" id="teamIcon" src="assets/chal/team-icon.png">
    <p class="title">Team</p>
  </md-toolbar>
  <md-toolbar class="items" color="primary">
    <img  class="icons"id="analytiscIcon" src="assets/chal/analytics-icon.png">
    <p class="title">Analytics</p>
  </md-toolbar>
  <md-toolbar class="items" color="primary">
    <img class="icons" id="uploadIcon"src="assets/chal/upload-icon-1.png">
    <p class="title">Upload</p>
  </md-toolbar>
  <md-toolbar class="items" color="primary">
    <img class="icons" id="notificationsIcon"src="assets/chal/notifications.png">
    <p class="title">Notifications</p>
  </md-toolbar>
  <md-toolbar class="items" color="primary">
    <img class="icons" id="helpIcon" src="assets/chal/help-copy.png">
    <p class="title">Help</p>
  </md-toolbar>
  <md-toolbar class="items" color="primary">
    <img class="icons" id="aboutIcon" src="assets/chal/about-copy.png">
    <p class="title">About</p>
  </md-toolbar>
  <md-toolbar class="items" color="primary">
    <img class="icons" id="searchIcon" src="assets/chal/search-copy.png">
    <p class="title">Search</p>
  </md-toolbar>


</body>
</html>
