<html>
<body>

    <div id="activityHead">
      <img id="profilePicture" src="assets/chal/imgres-copy_2@3x.png">
      <div id="textActivity">
        <p id="text">Hello, Bruce Wayne.</p>
        <div id="buttons">

          <button md-button class="editLogout">Edit your profile</button>

          <button md-button class="editLogout">Logout</button>
        </div>
      </div>
    </div>

  <div id="activity">
    <div class="element">
      <img class="circle" src="assets/chal/oval-6.png">
      <p>Alfred Pennyworth has reviewed your project <span class="nameOfTheShow">Modern Family S03 E22</span>. The project requires your attention before it can be published.</p>
    </div>
    <div class="element">
      <img class="circle" src="assets/chal/oval-6.png">
      <p>Alfred Pennyworth has reviewed your project <span class="nameOfTheShow"> Intern</span>. The project requires your attention before it can be published.</p>
    </div>
    <div class="element">
      <img class="circle" src="assets/chal/oval-6_4.png">
      <p>Alfred Pennyworth has reviewed your project <span class="nameOfTheShow">Modern Family S03 E18</span>. The project requires your attention before it can be published.</p>
    </div>
    <div class="element">
    <img class="circle" src="assets/chal/oval-6_3.png">
      <p>Alfred Pennyworth has added your project <span class="nameOfTheShow">Trainwreck</span> to your To do list.</p>
    </div>
    <div class="element">
      <img class="circle" src="assets/chal/oval-6_6.png">
      <p>You currently have 15 Projects on your To do list.</p>
    </div>
    <div class="element">
      <img class="circle" src="assets/chal/oval-6_5.png">
      <p>James Gordon sent you a message.</p>
    </div>


  </div>
    <button md-button id="button">View all notifications</button>


</body>
</html>
