<html>

<body id="middleBody">
<!--md-card width="30px" height="30px">
  <img md-card-image src="home.png" width="30px" height="30px">
  <md-card-content>
    <p></p>
  </md-card-content>
</md-card-->

<div id="activityContainer">
  <app-activity id="activity" class="midItems"></app-activity>
  <div id="midMiddlePart">
    <app-unfinished-projects id="unfinishedProjects" class="midItems" ></app-unfinished-projects>
    <app-to-do id="toDo" class="midItems"></app-to-do>
  </div>
  <div>
    <app-recently-published id="recentlyPublished" class="midItems"></app-recently-published>
  </div>
</div>
</body>
<script>
</script>
</html>
