<html>
<body>
  <div id="upper">
    <p>
      <button md-button>
      Unfinished projects
      </button>
    </p>
    <img id="picture" src="assets/chal/line.png">
  </div>
  <div id="projects">
    <div class="itemCard">
      <img id="picture1" class="picture" src="assets/chal/04-d-825-d-74-dea-73-f-9339-f-23-d-5-b-38-fa-7-e-5736982-cd-2350168-befbb-1893-c-3-d-66743@3x.png">
      <a id="title1" class="bold">Spectre</a>
      <a id="episode1">Movie</a>
      <div class="progressBar">
        <img id="greenBar" src="assets/chal/rectangle-38_4.png">
        <img id="greyBar" src="assets/chal/rectangle-38.png">
      </div>
    </div>
    <div class="itemCard">
      <img id="picture2" class="picture" src="assets/chal/imgres@3x.png">
      <a id="title2" class="bold">Modern Family</a>
      <a id="episode2">S03 E23</a>
      <div class="progressBar">
        <img id="orangeBar" src="assets/chal/rectangle-38_3.png">
        <img id="greyOrangeBar" src="assets/chal/rectangle-38.png">
      </div>
    </div>
  </div>
</body>
</html>
